html, body {
  height: 100%;
  width: 100%;
  background: linear-gradient( #2c4f7d,#17252b);
}
.container{
  height: 100%;
  width: 90%;
  margin: auto;
}
textarea{
  font-size: larger;
  font-family: cursive;
      height: 7rem;
}
#h3{
  text-align: center;
}
.heading{
      margin: 2rem;
}
.btn{
  background-color: #18143291;
  cursor: pointer;
  border: 1px solid;
  border-radius: 1rem;
  color: white;
  width: 5rem;
text-align: center;
  margin: 1rem;
  padding: 1rem;
  font-size: large;
  
}
